@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #f5dbec;
}

.letter-lines {
  position: relative;
}

.letter-lines::before,
.letter-lines::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 50%;
  width: 0.25rem;
  background: #595959;
}

.letter-lines::before {
  left: 0;

  transform: rotate(-45deg);
}

.letter-lines::after {
  right: 0;
  transform: rotate(45deg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
